
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('C:\Users\22CS058\HopeTech\Frontend\src\Project\childrep.jpg') no-repeat center center/cover;
}


.container-rep {
  width: 800px;
  padding: 30px;
  padding-left: 0%;
  padding-right: 200px;
  background: rgba(0, 0, 0, 0.7); 
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  margin-top: 100px;
  margin-left: 550px;
}


h2 {
  color: whitesmoke;
  font-size: 24px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


#rep {
  margin-left: 0px;
  display: block;
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #f8f9fa;
}


input[type="file"],
select,
textarea {

  width: 500px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

textarea {
  resize: none;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}


#port {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #ff5722;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition:0.3s ease-in-out;
  border: none;
  margin-left: 80px;
}

#port:hover {
  background: #e64a19;
}
#port1{
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #ff5722;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition:0.3s ease-in-out;
  border: none;
  
}

#port1:hover {
  background: #e64a19;
}

#pararep {
  font-size: 14px;
  color: #d1d1d1;
  margin-top: 5px;
  font-style: italic;
}


